.ant-segmented .ant-segmented-item {
  border-radius: 64px;
  height: 48px;
  background-color: #f8f7f6;
}
.ant-segmented .ant-segmented-item:hover {
  border-radius: 64px;
  height: 48px;
  background-color: rgba(45, 45, 45, 0.15);
}

.ant-segmented .ant-segmented-item-selected {
  background-color: #a96648;
}

.ant-segmented .ant-segmented-item-selected:hover {
  background-color: #a96648;
}

.ant-segmented .ant-segmented-thumb {
  background-color: unset;
}

.ant-segmented .ant-segmented-group {
  gap: 8px;
}

.ant-segmented .ant-segmented-item-label {
  line-height: 48px;
}
