@layer utilities {
  .list-bullet {
    list-style-image: url('../images/bullet.svg');
  }

  .numeric-list {
    ol {
      counter-reset: item;
      @apply mx-0 mb-0 mt-4 list-none p-0;
    }

    li {
      counter-increment: item;
      @apply mb-4 table;
    }

    li:last-of-type {
      @apply m-0;
    }

    li:before {
      content: counters(item, '.') '. ';
      @apply table-cell pr-2;
    }

    li {
      @apply mx-0 mb-3 mt-0;
    }

    li:before {
      content: counters(item, '.') '. ';
    }
  }
}
