@layer tailwind-base, ant-d;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

@import './antdStyles/alert.scss';
@import './antdStyles/badge.scss';
@import './antdStyles/carousel.scss';
@import './antdStyles/cascader.scss';
@import './antdStyles/collapse.scss';
@import './antdStyles/dropdown.scss';
@import './antdStyles/input.scss';
@import './antdStyles/modal.scss';
@import './antdStyles/pagination.scss';
@import './antdStyles/radio.scss';
@import './antdStyles/segmented.scss';
@import './antdStyles/skeleton.scss';
@import './antdStyles/timeline.scss';
@import './customClassnames.scss';
@import './slider.scss';
@import './yarl.scss';

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Regular'),
    local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.ttf') format('ttf'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Medium'),
    local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.ttf') format('ttf'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: rgb(var(--foreground-rgb));
}
