@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Regular'),
    local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.ttf') format('ttf'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Medium'),
    local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.ttf') format('ttf'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: medium;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  font-size: 20px !important;
  color: currentColor !important;
  background: #ffffffb2 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.slick-arrow.slick-prev {
  inset-inline-start: 70px !important;
}
.slick-arrow.slick-next {
  inset-inline-end: 70px !important;
}

.ant-carousel .slick-prev::after,
.ant-carousel .slick-next::after {
  color: currentColor !important;
  top: 36% !important;
}

.ant-carousel .slick-prev::after {
  left: 42% !important;
}

.ant-carousel .slick-next::after {
  left: 30% !important;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  color: currentColor !important;
}
