@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Regular'),
    local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.ttf') format('ttf'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Medium'),
    local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.ttf') format('ttf'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: medium;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .collapsed-description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ml-calc-center {
    margin-left: calc((100vw - 344px) / 2) !important;
  }

  .list-bullet {
    list-style-image: url('../images/bullet.svg');
  }
}

.ant-carousel .slick-prev::after,
.ant-carousel .slick-next::after {
  color: currentColor !important;
  top: 36% !important;
}

.ant-carousel .slick-prev::after {
  left: 42% !important;
}

.ant-carousel .slick-next::after {
  left: 30% !important;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  color: currentColor !important;
}

.ant-cascader-dropdown .ant-cascader-menu-item:hover {
  background-color: #f6f0ed !important;
}

.ant-cascader-menu-item-content {
  max-width: 16rem !important;
  text-wrap: wrap;
}

.ant-dropdown .ant-dropdown-menu {
  padding: 0.625rem 0.75rem !important;
  /* margin: 19px 0 0; */
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: unset !important;
  color: #a96648 !important;
}
